---
title: My portfolio
description: |
  A summary of my research, which is the domains of HCI and CSCW, and list of projects I have been involved in.

seo:
  name: UX research portfolio for Dr Martin Porcheron

menu:
  main:
    label: Portfolio
    title: Details of various research projects I have participated in or led
    weight: 1
---

<p>
  This collection of projects reflects my work at the intersection of human-computer interaction, user experience, and emerging technologies. My research spans domains such as conversational interfaces, interactive AI, and medical devices. Across all my work, I stay focused on truly understanding how people engage with technology in real-world contexts.
</p>

<p>
  From foundational exploratory studies to usability testing and applied UX research, these projects have informed product strategy, clarified user mental models, and shaped the design of technologies across industries.
</p>

<p>
    These are selected higlights from my research portfolio; a <a href="/portfolio/all" title="A more complete list of projects completed by Dr Martin Porcheron">full list of projects</a> is available.
</p>

{%- for year in site.data.portfolio -%}
  {%- for project in year[1] -%}
    {%- unless project.star -%}{% continue %}{%- endunless -%}
    {% unless foreach.last %}
    <!-- begin collapsible section -->
    {% endunless %}
    <h3 id="{{ project.slug }}">
      <span class="d-flex flex-row align-items-center me-2 fw-400">
        <span class="graded-title">
          {{ project.title | replace: "*/", "<b>" | replace: "/*", "</b>" }}
        </span>
      </span>
    </h3>
    <div class="d-flex flex-xl-row flex-column mb-3">
      <div class="d-flex flex-row align-items-center">
        <span class="text-muted flex-shrink-0 me-2">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-range-fill" viewBox="0 0 16 16">
            <path d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4zM16 7V5H0v5h5a1 1 0 1 1 0 2H0v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9h-6a1 1 0 1 1 0-2z"/>
          </svg>
        </span>
        <small class="text-muted mt-1">{{ project.dates }}</small>
      </div>
      {% if project.industries %}
        <div class="d-flex flex-row align-items-center ms-xl-3">
          <span class="text-muted flex-shrink-0 me-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-buildings-fill" viewBox="0 0 16 16">
              <path d="M15 .5a.5.5 0 0 0-.724-.447l-8 4A.5.5 0 0 0 6 4.5v3.14L.342 9.526A.5.5 0 0 0 0 10v5.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V14h1v1.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5zM2 11h1v1H2zm2 0h1v1H4zm-1 2v1H2v-1zm1 0h1v1H4zm9-10v1h-1V3zM8 5h1v1H8zm1 2v1H8V7zM8 9h1v1H8zm2 0h1v1h-1zm-1 2v1H8v-1zm1 0h1v1h-1zm3-2v1h-1V9zm-1 2h1v1h-1zm-2-4h1v1h-1zm3 0v1h-1V7zm-2-2v1h-1V5zm1 0h1v1h-1z"/>
            </svg>
          </span>
          <small class="text-muted mt-1">
            {% for industry in project.industries %}
              {%- if forloop.length > 2 %}{%- unless forloop.first %}, {% endunless -%}{% endif -%}
              {%- if forloop.last %} and {% endif -%}
              <b>{{- industry -}}</b>
            {%- endfor %}
          </small>
        </div>
      {% endif %}
      {% if project.client %}
        <div class="d-flex flex-row align-items-center ms-xl-3">
          <span class="text-muted flex-shrink-0 me-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
              <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
            </svg>
          </span>
          <small class="text-muted mt-1">Completed for <b>{{ project.client }}</b></small>
        </div>
      {% endif -%}
    </div>
    {{ project.description | markdownify }}
    {% unless foreach.last %}
      <!-- end collapsible section -->
    {% endunless %}
  {%- endfor -%}
{%- endfor -%}

