---
layout: page
title: My publications
description: A list of my publications, including archival (conference/journal) papers, demos, and magazine articles. I've also organised workshops co-located at international conferences. 

menu:
  main:
    label: My publications
    title: Archival and non-archival publications by Martin Porcheron
    weight: 3
---

<p class="d-md-block d-none">Below is a list of my publications, including copies of each publication as a PDF where rights permit. </p>

{%- for category in site.data.pubs_categories -%}

    <h2 class="{% if forloop.index0 > 0 %}pt-3{% else %}pt-md-2{% endif %} mb-2 fw-bold">{{ category[1] }}</h2>
	
    {%- assign pubs = site.data.pubs | where: "category", category[0] | sort: "year" | reverse -%}
    {%- for pub in pubs -%}
	
    {% include pub_reference.html %}

    {%- endfor -%}

{%- endfor -%}
