<figure class="video px-0 border rounded-3">
  <div class="w-100 video-unactivated" data-video="{{ include.video | replace: '"', '\"' }}">
    <div class="bg-dark text-white px-lg-5 px-3 py-5 rounded-top-4 cta-link">
      <div class="h3 mt-5">
        Load YouTube video <span class="cta-move-right">→</span>
      </div>
      <p class="mb-5">
        Please note that loading this YouTube video has <a href="{{ "/privacy/#youtube" | relative_url }}" class="text-light text-decoration-underline" target="_blank" title="View information about the privacy implications of embedded this video">privacy implications</a>. You acknowledge and accept these implications by loading the video on this webpage.
        </p>
    </div>
  </div>
  {%- if include.caption -%}
    <figcaption class="py-3 px-2 text-center w-100 text-center"><p>{{ include.caption }}</p></figcaption>
  {%- endif -%}
</figure>