{%- assign first_char = include.src | slice: 0 -%}
{%- assign first_four_chars = include.src | slice: 4 -%}
{%- if first_char != '/' and first_four_chars != 'http' -%}
	{%- assign cache = site.time | date: '%s%N' -%}
	{%- assign date_f = page.date | date: '%Y/%m/%d/' -%}
	{%- assign date_d = page.date | date: '%Y-%m-%d-' -%}
	{%- assign path = page.url | replace: date_f, date_d -%}
	{%- capture src %}assets/figure{{ path }}{{ include.src }}?{{ cache }}{% endcapture -%}
{%- else -%}
	{%- assign src = include.src -%}
{%- endif -%}

{%- if include contains 'bssize' -%}
	{%- assign bssize = include.bssize -%}
{% else %}
	{%- if include contains 'autosize' and include.autosize == 'true' -%}
		{%- assign autosize = ' autosize' -%}
	{%- elsif include contains 'autosize' and include.autosize == 'false' -%}
		{%- assign autosize = '' -%}
	{% else %}
		{%- assign autosize = 'autosize' -%}
	{%- endif -%}
	{%- assign bssize = 'col-md-4 col-sm-4 col-12 ' | append: autosize -%}
{%- endif -%}

{%- if include contains 'class' -%}
	{%- assign class = include.class -%}
{% else %}
	{%- assign class = '' -%}
{%- endif -%}

{%- if include contains 'title' -%}
	{%- assign title = include.title -%}
{%- elsif include contains 'caption' -%}
	{%- assign title = include.caption -%}
{% else %}
	{%- assign title = '' -%}
{%- endif -%}

<figure class="image {{ bssize }} ms-sm-4 mt-sm-0 mb-sm-3 mt-3 mb-4 p-0 float-end shadow {{ class }}">
	<img src="{{ src | absolute_url }}" alt="{{ include.alt }}" title="{{ title }}" class="w-100">
	{%- if include contains 'caption' -%}
	<figcaption class="m-0 px-md-3 p-2 py-2 w-100">
		{%- unless autosize == '' -%}
		<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="expand-arrows" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="d-none d-sm-inline-block float-end icon"><path fill="currentColor" d="M448 312v136c0 17.7-14.3 32-32 32H280c-13.3 0-24-10.7-24-24v-15.3c0-13.5 11.2-24.4 24.7-24l66.3 1.9-123-123-123 123 66.3-1.9c13.5-.4 24.7 10.5 24.7 24V456c0 13.3-10.7 24-24 24H32c-17.7 0-32-14.3-32-32V312c0-13.3 10.7-24 24-24h15.3c13.5 0 24.4 11.2 24 24.7L61.4 379l123-123-123-123 1.9 66.3c.4 13.5-10.5 24.7-24 24.7H24c-13.3 0-24-10.7-24-24V64c0-17.7 14.3-32 32-32h136c13.3 0 24 10.7 24 24v15.3c0 13.5-11.2 24.4-24.7 24L101 93.4l123 123 123-123-66.3 1.9c-13.5.4-24.7-10.5-24.7-24V56c0-13.3 10.7-24 24-24h136c17.7 0 32 14.3 32 32v136c0 13.3-10.7 24-24 24h-15.3c-13.5 0-24.4-11.2-24-24.7l1.9-66.3-123 123 123 123-1.9-66.3c-.4-13.5 10.5-24.7 24-24.7H424c13.3 0 24 10.7 24 24z" class=""></path></svg>
		{%- endunless -%}
		<p class="me-md-5 mb-0 p-0">{{ include.caption }}</p>
	</figcaption>
	{%- endif -%}
</figure>
