<header class="py-5">
    <div class="py-md-3">
        <a href="{{ site.url }}{{ site.baseurl }}" class="d-block mx-auto logo"><span class="visually-hidden" title="Go to the homepage">{{ site.title | escape }}</span></a>
    </div>
</header>

{%- assign default_paths = site.pages | map: "path" -%}
{%- assign page_paths = site.bootstrap.header_pages | default: default_paths -%}
{%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}

<nav class="navbar navbar-expand-md navbar-dark bg-frost py-0">

    {%- if titles_size > 0 -%}

    <div class="w-100 d-md-none d-flex flex-row mobilenav">
        {%- assign no_item = true -%}
        {%- assign menu_items = site.pages | sort: "position" | where_exp: "page", "page contains 'label'" -%}
        {%- for menu_item in menu_items -%}
            {%- unless menu_item.url contains '/page/'-%}
                {%- if page.url == menu_item.url or menu_item.url == '/blog/index.html' and paginator.page -%}
                <div class="mobilenav-current flex-fill d-flex justify-content-between ps-3 py-3" data-bs-toggle="offcanvas" data-bs-target="#navOffcanvas" aria-controls="navOffcanvas" aria-expanded="false" aria-label="Toggle navigation" id="navToggler">
                    <span class="align-middle"><span class="mobilenav-currentpage h1 mb-0 fw-bold">{{ menu_item.label | escape }}</span><span class="mobilenav-title d-none">Menu</span></span>
                    <a class="mobilenav-icon d-block pe-3"></a>
                </div>
                {%- assign no_item = false -%}
                {%- elsif menu_item.url == '/blog/index.html' and page.collection == 'posts' -%}
                <div class="mobilenav-current flex-fill d-flex justify-content-between ps-3 py-3" data-bs-toggle="offcanvas" data-bs-target="#navOffcanvas" aria-controls="navOffcanvas" aria-expanded="false" aria-label="Toggle navigation" id="navToggler">
                    <span class="align-middle"><span class="mobilenav-currentpage h1 mb-0 fw-bold">{{ menu_item.label | escape }}</span><span class="mobilenav-title d-none">Menu</span></span>                    
                    <a class="mobilenav-icon d-block pe-3"></a>
                </div>
                {%- assign no_item = false -%}
                {%- endif -%}
            {%- endunless -%}
        {%- endfor -%}
        {%- if no_item -%}
        <div class="mobilenav-current flex-fill d-flex justify-content-between ps-3 py-3" data-bs-toggle="offcanvas" data-bs-target="#navOffcanvas" aria-controls="navOffcanvas" aria-expanded="false" aria-label="Toggle navigation" id="navToggler">
            <span class="align-middle"><span class="mobilenav-currentpage h1 mb-0 fw-bold">{{ page.title | escape }}</span><span class="mobilenav-title d-none">Menu</span></span>                    
            <a class="mobilenav-icon d-block pe-3"></a>
        </div>
        {%- endif -%}
    </div>

    <div class="d-md-inline-block d-none text-center mx-auto">
        <ul class="navbar-nav mx-auto mb-md-0 mb-3">
            {%- for menu_item in menu_items -%}
                {%- unless menu_item.url contains '/page/'-%}
                    <li class="nav-item pb-md-0 pb-2">
                        {%- if page.url == menu_item.url or menu_item.url == '/blog/index.html' and paginator.page -%}
                        <a class="nav-link px-3 pt-4 pb-0 active" aria-current="page" href="{{ menu_item.url | relative_url }}" alt="{{ menu_item.description }}">
                            {{ menu_item.label | escape }}
                            <span class="triangle d-md-block d-none mx-auto mt-3 visible"></span>
                        </a>
                        {%- elsif menu_item.url == '/blog/index.html' and page.collection == 'posts' -%}
                        <a class="nav-link px-3 pt-4 pb-0 active" aria-current="page" href="{{ menu_item.url | relative_url }}" alt="{{ menu_item.description }}">
                            {{ menu_item.label | escape }}
                            <span class="triangle d-md-block d-none mx-auto mt-3 visible"></span>
                        </a>
                        {%- else -%}
                        <a class="nav-link px-3 pt-4 pb-0" href="{{ menu_item.url | relative_url }}" alt="{{ menu_item.description }}">
                            {{ menu_item.label | escape }}
                            <span class="triangle d-md-block d-none mx-auto mt-3 invisible"></span>
                        </a>
                        {%- endif -%}
                    </li>
                {%- endunless -%}
            {%- endfor -%}
        </ul>
    </div>

    {%- endif -%}

</nav>