<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"> 

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Squada+One&amp;display=swap">
<link rel="stylesheet" href="{{ '/assets/css/design.css' | relative_url }}?{{ cache }}">

{%- capture seo_tag_output -%}
  {%- seo -%}
{%- endcapture -%}
{{- seo_tag_output | replace: " />", ">" | replace: "/>", ">" -}}

<link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/icn/apple-touch-icon.png" | relative_url }}?{{ cache }}">
<link rel="apple-touch-icon" sizes="167x167" href="{{ "/assets/icn/apple-touch-icon-167x167.png" | relative_url }}?{{ cache }}">
<link rel="apple-touch-icon" sizes="152x152" href="{{ "/assets/icn/apple-touch-icon-152x152.png" | relative_url }}?{{ cache }}">
<link rel="apple-touch-icon" sizes="120x120" href="{{ "/assets/icn/apple-touch-icon-120x120.png" | relative_url }}?{{ cache }}">
<link rel="icon" type="image/png" sizes="512x512" href="{{ "/assets/icn/android-chrome-512x512.png" | relative_url }}?{{ cache }}">
<link rel="icon" type="image/png" sizes="228x228" href="{{ "/assets/icn/opera-228x228.png" | relative_url }}?{{ cache }}">
<link rel="icon" type="image/png" sizes="192x192" href="{{ "/assets/icn/android-chrome-192x192.png" | relative_url }}?{{ cache }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/icn/favicon-32x32.png" | relative_url }}?{{ cache }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/icn/favicon-16x16.png" | relative_url }}?{{ cache }}">
<link rel="manifest" href="{{ "/assets/icn/site.webmanifest" | relative_url }}?{{ cache }}">
<link rel="mask-icon" href="{{ "/assets/icn/safari-pinned-tab.svg" | relative_url }}?{{ cache }}" color="#9a2d72">
<link rel="shortcut icon" type="image/png" sizes="32x32" href="{{ "/assets/icn/favicon-32x32.png" | relative_url }}?{{ cache }}">
<meta name="msapplication-TileColor" content="#9a2d72">
<meta name="theme-color" content="#9a2d72">

<link rel="me" href="https://hci.social/@mporcheron">