		<aside class="d-flex flex-column p-md-5 px-3">
			<header class="py-md-0 py-4 text-md-start text-center">
				<a id="siteTitle" class="text-decoration-none" data-bs-toggle="collapse" href="#nav" role="button" aria-expanded="false" aria-controls="nav" data-homepage="{{ "/" | relative_url }}">
					{{ site.title | escape }}
					<span class="chevron d-md-none ps-sm-3 ps-1"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 320 512"><path d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z" /></svg></span>
				</a>
			</header>
			<nav id="nav" class="navbar d-md-block collapse m-0 mt-md-5 p-0">
				<div class="w-100 pb-md-0 pb-3">
					<div class="w-100 p-md-0 p-3">
						<ul class="navbar-nav m-0 p-0 text-md-start text-center">
							{%- for item in site.menus.main -%}
								<li class="nav-item">
									<a class="nav-link py-md-0 py-3 {% if page.url==item.url %}active{% endif %}" {% if page.url contains item.url %}aria-current="page" {% endif %} href="{{ item.url | relative_url }}" title="{{ item.title | escape }}">
										{{ item.label | escape }}
										<span class="chevron">
											<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 320 512"><path d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z" /></svg>
										</span>
									</a>
								</li>
							{%- endfor -%}
						</ul>
					</div>
				</div>
			</nav>
		</aside>