
// GLOBAL
a[href^="https://doi.org"], a[href^="https://cronfa.swan.ac.uk"] {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
}

body {
	font-weight: $body-font-weight;
}

h1 {
	font-weight: 400;
}

p:last-child, ol:last-child, ul:last-child {
    margin-bottom: 0;
}

.pdficon {
    background-image: $pdficon-bg-image;
    display: block;
    width: $pdficon-w;
    height: $pdficon-h;
    background-repeat: no-repeat;
    opacity: $pdficon-o;
    @include auto-transition(opacity);

    &:hover {
        opacity: 1;
    }
}

a:active {
    background-color: transparent;
}

.video-unactivated {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.bibliography {
	list-style: none;
	padding-left: 0;
	
	& .details {
		display: none;
	}
}

.pub-bibtex {
	h1 {
		color: $pub-bibtex-h1-fg;
		font-size: $pub-bibtex-h1-font-size;
	}
}

blockquote {
	margin-left: 2rem;
	margin-right: 2rem;
}

textarea {
    &[readonly="readonly"] {
        outline: none !important;
        resize: none;
    }
}



html {
    background-color: $html-bg;
}

body {
    background-color: $body-bg;
	background: $body-bg-gradient;
	background-attachment: fixed;
    direction: ltr;
    min-height: 100%;
    padding: $body-p;
    @include auto-transition((background-image), $transition-duration);
}



aside {
    font-family: $aside-font-family;
	color: $aside-fg;
				
	svg {
		fill: $aside-fg;
		width: 1rem;
		@include auto-transition((opacity, margin, transform), $transition-duration);
	}
	
	a, a:active, a:visited, a:hover {
		-webkit-tap-highlight-color: rgba(0,0,0,0);
	}
	
	hr {
		background-color: $aside-fg;
        border-top: 0;
		height: $aside-hr-h;
		margin: $aside-hr-m !important;
        opacity: 1;
	}

	header {
		color: $header-fg;
		font-size: $header-font-size;
		font-weight: $header-weight;
		line-height: $header-line-height;
		
		a, a:hover, a:visited {
			color: $header-fg;
			-webkit-touch-callout: none;
		}
		
		a[aria-expanded="true"] {
			svg {
				transform: rotate(0.25turn);
			}
		}
	}

	nav {
		font-family: $nav-font-family;
		font-size: $nav-font-size;
		opacity: 0;
		@include auto-transition((opacity), $transition-duration);
			
		& > div > div {
			background: $nav-bg;
			box-shadow: $nav-inner-shadow;
			-webkit-backdrop-filter: $nav-bg-filter;
			backdrop-filter: $nav-bg-filter;
			border-radius: $nav-border-radius !important;
		
			ul {
				.nav-item {
					margin-bottom: .15rem;
					
					&:first-child .nav-link {
						border-top-left-radius: $nav-inner-border-radius !important;
						border-top-right-radius: $nav-inner-border-radius !important;
					}
				
					&:last-child {
						margin-bottom: 0;
						
						& .nav-link {
							border-bottom-left-radius: $nav-inner-border-radius !important;
							border-bottom-right-radius: $nav-inner-border-radius !important;
						}
					}					
				}

				.nav-link {
					background: $nav-inner-bg;
					display: inline-block;	
					opacity: $nav-link-opacity;
					@include auto-transition((opacity), $transition-duration);
					width: 100%;
				
					svg {
						margin-right: $nav-chevron-move;
						opacity: 0;
						width: $nav-chevron-w;
					}
				}

				.nav-link:hover, .nav-link.show {
					opacity: $nav-link-hover-opacity;
				}
				
				.nav-link.active {
					opacity: 1 !important;
			
					& svg {
						opacity: 0
					}
				}
			}
		}

		&.show {
			opacity: 1;
		}
	}
	
	footer {
		color: $footer-fg;
		
		a, a:active, a:hover, a:visited {
			color: $footer-fg !important;
		}
	}
}


main {
	& > div { 
		background: $main-bg;
		-webkit-backdrop-filter: $main-bg-filter;
		backdrop-filter: $main-bg-filter;
		border: 1px solid rgba($white, 0.3);
		line-height: $main-line-spacing;
	
		article > section, article > .section {
			background: $main-inner-bg;
			color: $main-fg;
			
			h1:first-child, h2:first-child, h3:first-child, h4:first-child {
				margin-bottom: $main-h-first-mb;
			}
			
			& > p:last-child {
				margin-bottom: 0 !important;
				&::after {
					clear: both;
					content: "";
					display: block;
				}
			}
		}

		article {
			.text-muted {
				color: $text-muted-fg !important;
			}
			
			.image.profile-photo {
				max-width: $profile-photo-w;
			}
		}
		
		.link-palette {
			& .link a {
				background-repeat: no-repeat;
				background-position: -.1rem -.1rem, 0 0;
				background-image: -webkit-linear-gradient(top left, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 37%, rgba(255, 255, 255, 0.2) 45%, rgba(255, 255, 255, 0.0) 50%);
				background-image: linear-gradient(0 0, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 37%, rgba(255, 255, 255, 0.2) 45%, rgba(255, 255, 255, 0.0) 50%);
				background-size: 250% 250%, 100% 100%;
				color: $palette-fg;
				@include auto-transition((box-shadow, background-position));
				text-decoration: none;
				
				svg {
					fill: $palette-fg;
				}
				
				&:hover {
					background-position: -20rem -20rem, 0 0;
					box-shadow: $palette-shadow-hover;
				}
			}
		}
	}
	
	footer {
		color: $footer-fg;

		a, a:active, a:hover, a:visited {
			color: $footer-fg !important;
		}
	}
}



@include media-breakpoint-up(sm) {
	main {
		& > div { 
			article {
				.image.profile-photo {
					max-width: $profile-photo-w-sm;
				}
			}
		}
	}
}



@include media-breakpoint-up(md) {
	body {
    	background: $body-bg-img, $body-bg-gradient;
		background-attachment: fixed;
    }
    
	aside {
		position: fixed;
		max-width: $aisde-w;
	
		header {
			font-size: $header-font-size-md;
		}

		nav {
			display: block !important;
			font-family: $nav-font-family-md;
			font-size: $nav-font-size-md;
			opacity: 1 !important;
			
			& > div > div {
				background: transparent;
				-webkit-backdrop-filter: initial;
				backdrop-filter: initial;
				box-shadow: none;
					
				ul {
					background: transparent;
					border-radius: 0 !important;

					.nav-item {
						border-radius: 0 !important;
					}

					.nav-link, .nav-link:hover, .nav-link.active, .nav-link.show {
						background: transparent;
						box-shadow: none;
						border-radius: 0 !important;
						color: $nav-fg-md !important;
						opacity: $nav-link-opacity-md;
						width: auto;
						
						svg {
							fill: $nav-fg-md;
						}
					}

					.nav-link:hover, .nav-link.show {
						& svg {
							opacity: $nav-link-hover-opacity;
							margin-left: $nav-chevron-move;
						}
					}
				}
			}
		}
	}
	
	main {	
		margin-left: $aisde-w;

		& > div { 
			article {
				hr {
					margin: $hr-m;
				}
			}
		}
	}
}


@include media-breakpoint-up(xl) {
	.xlcontainer {
		max-width: 1200px;
	}
	main {
		margin-left: $main-ms-xl;
		& > div { 
			article {
				.image.profile-photo {
					max-width: 33%;
				}
			}
		}
	}
}



@include media-breakpoint-up(xlx) {
	.xxlcontainer {
		margin-left: auto;
		margin-right: auto;
		max-width: 1400px;
	}
}