// GLOBAL /////////////////////////////////////////////////////////////////////

$primary: #70255C;

$body-color: hsl(0, 0%, 15%);
$border-color: rgba($primary, 50%);

$font-family-sans-serif: 'Inter', 'Helvetica Neue', 'Helvetica', 'Arial', "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$line-height-base: 1.67;

$transition-duration: .3s;
$transition-function: ease;

$backdrop-filter: saturate(180%) blur(40px);



// OVERALL LAYOUT /////////////////////////////////////////////////////////////

$body-bg: #fafafa;



// HEADER /////////////////////////////////////////////////////////////////////

$header-bg-gradient: linear-gradient(180deg, #E7EFEF 0%, lighten($primary, 75%) 100%);

$sitetitle-font-family: "Fascinate Inline", $font-family-sans-serif;
$sitetitle-font-size: 2rem;

$toggler-border: .75px hidden #000;
$toggler-border-hover: .75px solid darken($body-bg, 5%);

$contact-link-color: $body-color;
$contact-link-color-hoveractive: $primary;


// NAVIGATION /////////////////////////////////////////////////////////////////

$nav-link-border: .75px solid darken($body-bg, 5%);
$nav-link-border-hover: .75px solid $primary;
$nav-link-bg: rgba($primary, 7.5%);
$nav-link-bg-gradient: linear-gradient(180deg, rgba($primary, 1%) 0%, rgba($primary, 7.5%) 95%);

$contact-link-color-hoveractive: $primary;


// MAIN ///////////////////////////////////////////////////////////////////////

$section-border: .75px solid darken($body-bg, 5%);
$section-border-hover: .75px solid $primary;

$pdf-bib-link-color: $body-color;
$pdf-bib-link-color-hoveractive: $primary;

$bibtext-h1-font-size: 1.8rem;

$talk-bg: darken($body-bg, 5%);



// OFFCUTS ///////////////////////////////////////////////////////////////////

$profile-photo-w: 100%;
$profile-photo-w-sm: 50%;

$hr-m: 2rem 0 2rem 0;

$text-muted-fg: #4F4F4F;

$pub-bibtex-h1-font-size: 1.5rem;
$pub-bibtex-h1-fg: #ffffff;




