{%- assign cache = site.time | date: '%s%N' -%}
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}" class="h-100">
    <head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"> 

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>		
		<link href="https://fonts.googleapis.com/css2?family=Squada+One&display=swap" rel="stylesheet">

		{%- seo -%}

		<link rel="stylesheet" href="{{ '/assets/css/design.css' | relative_url }}?{{ cache }}">

		{%- feed_meta -%}

		<link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/icn/apple-touch-icon.png" | relative_url }}?{{ cache }}">
		<link rel="apple-touch-icon" sizes="167x167" href="{{ "/assets/icn/apple-touch-icon-167x167.png" | relative_url }}?{{ cache }}">
		<link rel="apple-touch-icon" sizes="152x152" href="{{ "/assets/icn/apple-touch-icon-152x152.png" | relative_url }}?{{ cache }}">
		<link rel="apple-touch-icon" sizes="120x120" href="{{ "/assets/icn/apple-touch-icon-120x120.png" | relative_url }}?{{ cache }}">

		<link rel="icon" type="image/png" sizes="512x512" href="{{ "/assets/icn/android-chrome-512x512.png" | relative_url }}?{{ cache }}">
		<link rel="icon" type="image/png" sizes="228x228" href="{{ "/assets/icn/opera-228x228.png" | relative_url }}?{{ cache }}">
		<link rel="icon" type="image/png" sizes="192x192" href="{{ "/assets/icn/android-chrome-192x192.png" | relative_url }}?{{ cache }}">
		<link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/icn/favicon-32x32.png" | relative_url }}?{{ cache }}">
		<link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/icn/favicon-16x16.png" | relative_url }}?{{ cache }}">

		<link rel="mask-icon" href="{{ "/assets/icn/safari-pinned-tab.svg" | relative_url }}?{{ cache }}" color="#7D7D7D">

		<link rel="shortcut icon" href="{{ "/assets/icn/favicon-32x32.png" | relative_url }}?{{ cache }}">

		<link rel="me" href="https://hci.social/@mporcheron">

		<meta name="theme-color" content="#9A2D72">
	</head>
    <body class="d-flex flex-md-row flex-column align-items-stretch">
		<aside class="d-flex flex-column p-md-5 px-3">

			<header class="py-md-0 py-4 text-md-start text-center">
				<a id="siteTitle" class="text-decoration-none" data-bs-toggle="collapse" href="#nav" role="button" aria-expanded="false" aria-controls="nav" data-homepage="{{ "/" | relative_url }}">
					{{ site.title | escape }}<span class="chevron d-md-none ps-2"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/></svg></span>
				</a>
			</header>

			<hr class="d-md-block d-none w-50 my-5 rounded-pill">

			<nav id="nav" class="navbar d-md-block collapse m-0 p-0">
				<div class="w-100 pb-md-0 pb-3">
					<div class="w-100 p-md-0 p-3">
						<ul class="navbar-nav m-0 p-md-0 py-3 text-md-start text-center">
							{%- for item in site.menus.main -%}
								<li class="nav-item py-2 {% unless forloop.last %}border-bottom{% endunless %}">
									<a class="nav-link py-md-0 py-2 {% if page.url==item.url %}active{% endif %}" {% if page.url contains item.url %}aria-current="page"{% endif %} href="{{ item.url | relative_url }}" alt="{{ item.title | escape }}">
										{{ item.label | escape }}
										<span class="chevron">
											<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/></svg>
										</span>
									</a>
								</li>
							{%- endfor -%}
						</ul>
					</div>
				</div>
			</nav>
		</aside>
		<main aria-label="Content" class="w-100">

			{{ content }}
			
			<footer class="text-center my-md-0 my-3">
				<p class="small m-0 py-md-3 p-0">
					© Martin Porcheron {{ site.time | date: "%Y" }}.<br>
					<a href="/privacy" title="Privacy Policy and cookies information for this website">Privacy and cookies information</a>
				</p>
			</footer>
		</main>
		<script src="{{ '/assets/js/bootstrap.bundle.min.js' | relative_url }}?{{ cache }}"></script>
		<script src="{{ '/assets/js/porcheron.js' | relative_url }}?{{ cache }}"></script>
    </body>
</html>