{%- assign cache = site.time | date: '%s%N' -%}
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}" class="h-100">

    {%- include head.html -%}

    <body class="d-flex flex-column h-100">

        <div class="container pb-lg-5">

            {%- include header.html -%}

            <main class="page-content" aria-label="Content">
			
                {{ content }}
            
            </main>

            {%- include mobile_nav.html -%}

            {%- include footer.html -%}

            <script src="{{ '/assets/js/bootstrap.bundle.min.js' | relative_url }}?{{ cache }}"></script>
            <script src="{{ '/assets/js/porcheron.js' | relative_url }}?{{ cache }}"></script>

        </div>

    </body>

</html>