---
---
{%- assign cache = site.time | date: '%s%N' -%}
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}" class="h-100">
  <head>
    {%- include head.html -%}
  </head>
  <body>
    <div class="xxlcontainer d-flex flex-md-row flex-column align-items-stretch">
      {%- include sidebar.html -%}
      <main class="w-100 mt-md-1 pt-md-5">
        {{- content -}}
        <footer class="text-center me-lg-5 ms-md-0 mx-3 mb-2  my-md-0 my-3">
          {%- include footer.html -%}
        </footer>
      </main>
    </div>
    <script src="{{ '/assets/js/bootstrap.bundle.min.js' | relative_url }}?{{ cache }}"></script>
    <script src="{{ '/assets/js/porcheron.min.js' | relative_url }}?{{ cache }}"></script>
  </body>
</html>