---
layout: default
---
<section class="d-flex flex-column">
    <div class="page-title d-md-block d-none"">
        <div class="container-fluid content-header p-lg-4 p-3">
            <h1 class="container m-0 p-0 fw-bold">
	            {{ page.title | escape }}
            </h1>
        </div>
    </div>

    <article class="content-container">
        <div class="pt-lg-0 p-lg-4 p-3">
            <hr class="mt-2 mb-5 d-md-block d-none">

            {{- content -}}

            {% if paginator.total_pages > 1 %}

            <hr class="mt-3 mb-3">

            <ul class="pagination w-100">

                {%- if paginator.previous_page -%}
                <li class="w-50 text-end pe-2">
                	<a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="cta-link text-decoration-none">
                		<span class="cta-move-left">&#8592;</span> Newer posts
                	</a>
                </li>
                {%- else -%}
                <li class="w-50 text-end text-muted pe-2">
                	<span>&#8592;</span> Newer posts
                </li>
                {%- endif -%}

                {%- if paginator.next_page -%}
                <li class="w-50 text-start ps-2">
                	<a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="cta-link text-decoration-none">
            			Older posts <span class="cta-move-right">&#8594;</span>
                	</a>
                </li>
                {%- else -%}
                <li class="w-50 text-start text-muted ps-2">
                	Older posts <span>&#8594;</span>
                </li>
                {%- endif -%}

            </ul>
            {%- endif -%}
        </div>
    </article>

</section>