---
layout: default
---
<article class="container h-100">
  <div class="section {% if page.fade_paragraphs %}fade-in-p{% endif %}">
    <h3 class="text-start pb-2 {% if page.hide_title_mobile %}d-md-block d-none{% endif %}">
      {{ page.title | escape }}
    </h3>
    {%- capture content_html -%}
      {{- content -}}
    {%- endcapture -%}

    {%- if page.sections.collapsible -%}
      {%- capture sectioned_content -%}
        {{- content_html | replace_first: "<!-- begin section -->", '</div><section class="my-3 rounded-4 collapsible">' | replace: "<!-- end section -->", '</div></div></section>' | replace: "<!-- begin section -->", '<section class="my-3 rounded-4 collapsible">' -}}
      {%- endcapture -%}

      {%- for i in (1..100) -%}
        {%- unless sectioned_content contains '<h3 id="' %}
          {%- break -%}
        {%- endunless -%}
        {%- assign h3_attrs = '<h3 data-bs-toggle="collapse" href="#section' | append: i | append: '" class="d-flex justify-content-between align-items-center m-0 p-3" role="button" aria-expanded="false" aria-controls="section' | append: i | append: '" id="' -%}
        {%- assign collapse_div = '<span class="chevron float-end ps-sm-3 ps-1"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 320 512"><path d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z" fill="currentColor" /></svg></span></h3 ><div class="collapse" id="section' | append: i | append: '"><div class="px-3">' -%}
        {%- assign sectioned_content = sectioned_content | replace_first: '<h3 id="', h3_attrs -%}
        {%- assign sectioned_content = sectioned_content | replace_first: '</h3>', collapse_div -%}
      {%- endfor -%}
    {%- else -%}
      {%- capture sectioned_content -%}
        {{- content_html | replace_first: "<!-- begin section -->", '</div><section class="my-3 p-3 rounded-4">' | replace: "<!-- end section -->", '</section>' | replace: "<!-- begin section -->", '<section class="my-3 p-3 rounded-4 shadow-lg">' -}}
      {%- endcapture -%}
    {%- endif -%}

    {{- sectioned_content -}}

    {%- if content_html contains '<!-- section -->' %}
      {%- if page.sections.collapsible -%}
          </div>
        </div>
      {%- endif -%}
      </section>
    {%- else -%}
      </div>
    {%- endif -%}
</article>

{%- if page.containsVideo -%}
<div class="modal fade" id="youtubeModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Load YouTube video?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Please note that loading this YouTube video has <a href="{{ "/privacy/#youtube" | relative_url }}" class="text-light text-decoration-underline" target="_blank" title="View information about the privacy implications of embedded this video">privacy implications</a>.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn cancel" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="acceptYoutubeImplications">I understand</button>
      </div>
    </div>
  </div>
</div>
{%- endif -%}