---
layout: default
---
<section class="d-flex flex-column">
    <div class="page-title">
        <div class="container-fluid content-header pb-lg-0 pb-0 p-lg-4 p-3">
            <h1 class="container m-0 p-0 fw-bold">
	            {{ page.title | escape }}
            </h1>
        </div>
    </div>

    <div class="content-container pt-lg-0 pt-0 p-lg-4 p-3">
        <address class="container small text-muted m-0 p-0">
            <span rel="author" class="d-inline">Martin Porcheron</span> &bull; <time datetime="{{ page.date | date: "%G-%m-%d" }}" title="Published on {{ page.date | date: "%G-%m-%d" }}" class="d-inline-block">{{ page.date | date_to_long_string: "ordinal" }}</time>
        </address>
    </div>

    <article class="content-container">
        <div class="pt-lg-0 pt-0 p-lg-4 p-3">
            {{- content | replace: '<!--more-->', '<a id="readmore"></a>' -}}
        </div>
	</article>
</section>