---
sitemap: false
---
{%- assign cache = site.time | date: '%s%N' -%}
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
	<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, shrink-to-fit=no, viewport-fit=cover">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="{{ '/assets/css/design.css' | relative_url }}?v={{ cache }}">
        <script defer src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha384-vk5WoKIaW/vJyUAd9n/wmopsmNhiy+L2Z+SBxGYnUkunIxVxAv/UtMOhba/xskxh" crossorigin="anonymous"></script>
	    <script defer src="{{ "assets/js/copyclose.min.js" | relative_url }}?{{ cache }}"></script>
		<meta name="robots" content="noindex, nofollow">
		<title>BibTeX for '{{ page.title }}'</title>
	</head>
	<body class="body-card">
		<div class="card w-100 h-100 border-0 rounded-0">
			<div class="card-header bg-superfrost rounded-0 px-md-5 p-3 select-none border-0 h4 text-white">BibTeX for <em>{{ page.title }}</em></div>
			<div class="card-body d-flex bg-transparent p-0 align-items-stretch">
				<textarea class="w-100 m-0 p-md-5 p-3 border-0 bg-superfrost small text-monospace" id="bibtex-source" readonly="readonly">{{ page.bibtex }}</textarea>
			</div>
			<div class="card-footer rounded-0 nojs-none px-md-5 p- text-end select-none border-0">
        <button type="button" data-close="true" class="btn btn-secondary mr-2 noparentwin-none">Close</button>
        <button type="button" data-copy="true" data-close="true" data-target="#bibtex-source" class="btn btn-success mr-2 noparentwin-none" data-dismiss="modal">Copy and close</button>
        <button type="button" data-copy="true" data-close="false" data-target="#bibtex-source" class="btn btn-success parentwin-none">Copy</button>
			</div>
		</div>
	</body>
</html>