---
---
<div class="d-flex mb-3">
	<div class="flex-shrink-0 text-center">
		{% capture pdf_path %}assets/pubs/{{ entry.year }}/{{ entry.key }}.pdf{% endcapture %}
		{% capture pdf_path_exists %}{% file_exists {{ pdf_path }} %}{% endcapture %}
		{% if pdf_path_exists == "true" %}
			<a href="{{ pdf_path | relative_url }}" target="_blank" data-action="popup" title="{{ pub.title }}" class="pdficon mt-1 {{ icon_class }}" aria-label="PDF file icon"><span class="visually-hidden">Download the paper</span></a>
		{% endif %}
		<a href="{% details_link entry.key %}" target="_blank" rel="nofollow" data-action="popup" title="View BibTeX source" class="text-muted small" aria-label="BibTeX source for this publication">[bib]</a>
	</div>
  	<div class="flex-grow-1 ms-3">
		{{ reference }}
  	</div>
</div>